<!DOCTYPE html>
<html>
<head>
  <title>Lista de Productos</title>
</head>
<body>
  <!-- Mostrar saludo al usuario con su nombre -->
  <h2>Hola, <%= usuario.username %>!</h2>
  <h1>Lista de Productos</h1>
  <ul>
    <% if (!productos || productos.length === 0) { %>
      <li>No hay productos disponibles</li>
    <% } else { %>
      <% productos.forEach(function(producto) { %>
        <li>
          <h3><%= producto.nombre %></h3>
          <p>Descripci칩n: <%= producto.descripcion %></p>
          <p>C칩digo: <%= producto.codigo %></p>
          <p>Imagen: <%= producto.imagen %></p>
          <p>Precio: <%= producto.precio %></p>
          <p>Stock: <%= producto.stock %></p>
          <form method="post" action="/api/carrito/<%= usuario.carrito._id %>/producto/<%= producto._id %>">
            <input type="submit" value="A침adir" name="accion">
            <input type="submit" value="Borrar" name="accion">
          </form>
        </li>
      <% }); %>
    <% } %>
  </ul>

    <!-- Bot칩n para ver el carrito -->
    <form method="get" action="/api/carrito/<%= usuario.carrito._id %>">
      <input type="submit" value="Ver carrito">
    </form>

</body>
</html>


